doctype html
html(lang="esp")
    head    
        title Proyecto
        meta(chaset="utf-8")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet")
        //link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

    body
        block contenido